.idea*/
node_modules/
dist/
compiled/
app/**/*.js
app/**/*.map
*.log

stats\.json
coverage/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

styles/scss/sprite.css
styles/scss/sprite.css.map